.buy-car-sect {
  height: calc(100vh - (8em + 10em + 2.5em));
}
.buy-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bil3-resize.jpeg");
  background-blend-mode: multiply;
  background-color: rgb(116, 116, 116);
  height: 100%;
}
.buy-img {
  height: 6em;
}
.buy-h1 {
  color: #ffffff;
  font-size: 30px;
  margin: 0 0.5em 0 0.5em;
}
@media screen and (max-width: 768px) {
  .buy-div {
    flex-direction: column;
  }
}
