.latest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #424242;
  width: 100%;
  height: 18vh;
}
.latest-cars {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 3em 0;
}
.latest-h1 {
  font-size: 32px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.latest-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latest-img {
  width: 18em;
  height: 15em;
  object-fit: cover;
}
.latest-text {
  color: #ffffff;
}

.latest-btn {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  width: 16em;
}
.latest-btn:hover {
  background-color: #ffffff;
}
.blocket-img {
  width: 14em;
}

.blocket-div {
  display: flex;
  align-items: center;
  width: 40em;
  justify-content: space-evenly;
}

@media screen and (max-width: 680px) {
  .latest-h1 {
    font-size: 24px;
  }
  .blocket-div {
    flex-direction: column;
    width: 18em;
  }
  .blocket-img {
    width: 10em;
  }
  .latest-btn {
    width: 12em;
    margin-top: 1em;
  }
}
